<div class="container">
	<h3>View 1</h3>
	FullName:
	<br />
	<input type="text" data-ng-model="filter.name" />
	<ul>
		<li data-ng-repeat="cust in customers | filter:filter.name | orderBy:'city'">{{ cust.name | uppercase }} - {{cust.city | lowercase }}</li>
	</ul>

	<br />
	Customer Name: 
	<input type="text" data-ng-model="newCustomer.name" />
	<br />
	Customer city:
	<input type="text" data-ng-model="newCustomer.city"  />
	<br />
	<button data-ng-click="addCustomer()">Add Customer</button>
	<br />
	<a href="#/view2">View 2</a>
</div>
